language: go

go:
  - 1.13.x

install: true

before_script:
  - chmod +x test.sh

script:
  - ./test.sh

after_success:
  - bash <(curl -s https://codecov.io/bash) -t 42faab44-f756-4e1f-b187-d031ed3f34b9
